@tailwind base;
@tailwind components;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Some utils Tailwind didn't have */
.small-caps {
  font-variant-caps: all-small-caps;
}

/* Bulldozing browser default outlines */
.focus-outline {
  transition: box-shadow 0.2s ease-out;
}

.focus-outline:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(100, 149, 237, 0.25);
}

/* Brand stuff */
.logo {
  @apply text-indigo-600 italic text-3xl font-bold leading-none small-caps;
}

.btn {
  @apply inline-block rounded cursor-pointer py-1 px-4 text-xl small-caps shadow transition ease-in duration-100 focus-outline;
}

.btn:hover {
  @apply shadow-md;
}

.btn-primary {
  @apply btn text-white bg-indigo-500;
}

.btn-primary:hover {
  @apply bg-indigo-600;
}

.btn-primary:active {
  @apply bg-indigo-700;
}

.btn-secondary {
  @apply btn text-indigo-500 bg-white;
}

.btn-secondary:hover {
  @apply text-indigo-400;
}

.btn-secondary:active {
  @apply text-indigo-800;
}

/* Component specific classes, could just be inline styles? */
/* Footer -- */
.api-status {
  @apply inline-flex items-center;
}

.api-status::before {
  content: "";
  @apply w-2 h-2 bg-green-200 bg-green-500 rounded-full mr-2;
}

@tailwind utilities;