@tailwind base;
@tailwind components;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans text-gray-800 antialiased;
}

::selection {
  background: rgb(217, 235, 254);
}

/* Some utils Tailwind didn't have */
.small-caps {
  font-variant-caps: all-small-caps;
}

/* Bulldozing browser default outlines */
.focus-outline {
  transition: box-shadow 0.2s ease-out;
}

.focus-outline:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(100, 149, 237, 0.5);
}

/* Brand stuff */
.logo {
  @apply text-indigo-600 italic text-3xl font-bold leading-none small-caps;
}

.logo::before {
  content: "Faux!";
}

.header-stripe {
  @apply pl-2 pr-4;
  background-image: linear-gradient(120deg, #a3bffa, #7f9cf5);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 80%;
  line-height: 1em;
}

.group .hover-stripe {
  transition: all ease-in-out 0.1s;
  background-size: 0% 0.6em;
  background-position: 0 70%;
}

.group:hover .hover-stripe {
  background-image: linear-gradient(120deg, #a3bffa, #7f9cf5);
  background-repeat: no-repeat;
  background-size: 100% 0.6em;
  background-position: 0 70%;
}

.gradient-text {
  background-image: linear-gradient(45deg, #667eea, #7f9cf5);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.btn {
  @apply inline-block rounded cursor-pointer py-1 px-4 text-xl small-caps shadow transition ease-in duration-100 focus-outline;
}

.btn:hover {
  @apply shadow-md;
}

.btn-primary {
  @apply btn text-white bg-indigo-500;
}

.btn-primary:hover {
  @apply bg-indigo-600;
}

.btn-primary:active {
  @apply bg-indigo-700;
}

.btn-secondary {
  @apply btn text-indigo-500 bg-white;
}

.btn-secondary:hover {
  @apply text-indigo-400;
}

.btn-secondary:active {
  @apply text-indigo-800;
}

/* Component specific classes, could just be inline styles? */
/* Nav -- */
.mobile-toggle span {
  @apply block w-full h-1 bg-indigo-600 rounded-lg transition-all ease-in-out duration-200;
}

.mobile-menu li {
  @apply block;
}

/* Footer -- */
.api-status {
  @apply inline-flex items-center;
}

.api-status::before {
  content: "";
  @apply w-2 h-2 bg-green-200 bg-green-500 rounded-full mr-2;
}

/* Release-Notes -- */
.release-note ul {
  @apply list-disc pl-6;
}

.release-note li {
  @apply mb-2 pl-3 leading-normal;
}

/* Post -- */
.post-hero:before {
  background: linear-gradient(rgba(76, 81, 191, 0.7), rgba(102, 126, 234, 0.7));
}

@tailwind utilities;
