@tailwind base;
@tailwind components;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.small-caps {
  font-variant-caps: all-small-caps;
}

.footer-clip-path {
  clip-path: polygon(0 3vw,100% 0,100% 100%,0 100%);
}

.api-status {
  @apply inline-flex items-center;
}

.api-status::before {
  content: '';
  @apply w-2 h-2 bg-green-200 bg-green-500 rounded-full mr-2; 
}

@tailwind utilities;